# Core data processing
pandas==2.2.3
numpy<2
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

# Data fetching
requests==2.32.3
yfinance==0.2.55
beautifulsoup4==4.13.4
soupsieve==2.6

# Database connectors
mysql-connector-python==9.3.0
psycopg2-binary
SQLAlchemy

# Utility
typing_extensions==4.13.2
frozendict==2.4.6
multitasking==0.0.11
pymysql
python-dotenv==1.0.1
